/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

#movies-page-div {
    background-image: url("./assets/Studio_Ghibli_Logo.0.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover, contain;
}